body {
    margin: 0px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */

.header {
    width: 100%;
    height: 124px;
    position: relative;

    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
}

.header__red_line {
    user-select: none;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 30%;
    height: 8px;
    flex-shrink: 0;
    background: #E50050;
}

.header__green_line {
    user-select: none;
    position: absolute;
    top: 0px;
    right: 0px;

    width: 70%;
    height: 8px;
    flex-shrink: 0;
    background: #4DAF8A;
}

.header__logo {
    user-select: none;
    position: absolute;
    left: 122px;
    top: 31px;

    width: 180.936px;
    height: 78px;
    flex-shrink: 0;
}

.header__above_menu {
    position: absolute;
    right: 119px;
    top: 27px;
    display: flex;

    width: 905px;
    height: 41px;
    flex-shrink: 0;
}

.header__above_menu_location {
    position: relative;

    width: 510px;
    height: 34px;
    flex-shrink: 0;
}

.header__above_menu_location_img {
    position: absolute;
    left: 0px;

    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.header__above_menu_location_text {
    position: absolute;
    right: 0px;
    top: 0px;

    color: #000;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__above_menu_location_link {
    position: absolute;
    left: 44px;
    bottom: 0px;

    color: #E50050;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.header__above_menu_phone {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 116px;
    
    width: 279px;
    height: 37px;
    flex-shrink: 0;
}

.header__above_menu_phone_img {
    position: absolute;
    left: 0px;

    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.header__above_menu_phone_text {
    position: absolute;
    right: 0px;

    color: #000;
    font-family: 'Ubuntu';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__menu {
    position: absolute;
    right: 121px;
    bottom: 12px;

    width: 583px;
    height: 16px;
    flex-shrink: 0;
}

.header__menu_list {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__menu_list_item {
    color: #000;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */

.footer {
    width: 100%;
    height: 345px;
    position: relative;

    flex-shrink: 0;
    background: #35C493;
}

.footer__logo {
    position: absolute;
    left: 122px;
    top: 35px;

    width: 180.936px;
    height: 78px;
    flex-shrink: 0;
}

.footer__menu {
    position: relative;
    top: 48px;
    left: 522px;
    display: flex;

    width: 414px;
    height: 184px;
    flex-shrink: 0;
}

.footer__menu_list_1 {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 194px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__menu_list_2 {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 194px;
    height: 100%;
    margin-left: 25px;
}

.footer__menu_list_2 li {
    margin-bottom: 15px;
}

.footer__menu_item {
    color: #FFF;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.footer__facebook {
    position: absolute;
    top: 26px;
    right: 122px;
    display: flex;
    flex-direction: column;

    width: 407px;
    height: 89px;
    flex-shrink: 0;
}

.footer__facebook_title {
    margin: 16px 0px 15px 0px;

    color: #FFF;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__facebook_sub_title {
    width: 180px;

    color: #BFFADB;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu_fb {
    position: absolute;
    top: 122px;
    right: 495px;

    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.footer__menu_tg {
    position: absolute;
    top: 122px;
    right: 450px;

    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.footer__line {
    width: 80%;
    height: 1px;
    position: absolute;
    top: 256px;
    left: 10%;

    background: rgba(255, 255, 255, 0.30);
}

.footer__bottom_text {
    position: absolute;
    bottom: 33px;
    width: 600px;
    margin: 0px;
    margin-left: calc(936px/2);

    color: #FFF;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */

.hero {
    position: relative;

    width: 100%;
    height: 621px;
    flex-shrink: 0;
    background: #4CAF8A;
}

.hero__img {
    position: absolute;
    left: 13px;
    bottom: 18px;
}

.hero__nav {
    position: absolute;
    top: 40px;
    left: 110px;
}

.hero__nav_list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.hero__nav_list_item {
    display: flex;
    align-items: center;
    width: 396px;
    height: 87px;
    flex-shrink: 0;
    border-radius: 12px;
}

.hero__nav_list_item:hover {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.13);
}

.hero__nav_list_item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 26px;
    box-sizing: border-box;
    text-decoration: none;
}

.hero__nav_list_line {
    width: 382px;
    height: 1px;
    background: rgba(255, 255, 255, 0.29);
}

.hero__nav_list_item_img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.hero__nav_list_item_link {
    margin-left: 40px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}







.hero__slider {
    position: absolute;
    top: 28px;
    right: 110px;
    overflow-x: hidden;

    width: 820px;
    height: 547px;
    flex-shrink: 0;
}

.hero__slider_item {
    border-radius: 20px;
    background: #C4C4C4;
    box-shadow: 0px 20px 42px 0px rgba(0, 0, 0, 0.20);
}

.hero__slider .slick-track {
    display: flex;
}

.hero__slider .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

.hero__slider .slick-dots button {
    font-size: 0px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 0px 5px;
    border: none;
    transition: 0.4s;
}

.hero__slider .slick-dots li.slick-active button {
    background-color: #E50050;
}